#root {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

tr:nth-child(even) {
    background: #F2F2F2;
}

tr:nth-child(odd) {
    background: #FFF;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}
#LiveDataContent{
    display: flex;
    background-color: white;
    color: black;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    width: 750px;
}
#LiveDataContent div{
    width: 250px;
    padding: 20px;
}